@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

label {
  padding-bottom: 0.2rem;
}

body {
  position: relative;
  height: 100vh;
  font-size: 1.15rem;
  letter-spacing: 0.15rem;
  font-family: "Caveat", cursive;
  background-image: url(../assets/sl_072622_51930_13.jpg);
  background-size: 31%;
  z-index: -1;
}
